.firstOne{
    
    float:left;
    line-height: 25px;
    color: blue;
    background-color: magenta;
    padding: 15px 15px 15px 15px;
    
    
}
h1 , h4 {
    text-align: center;
    background-color: aqua;
    border: 5px pink dashed;
    
    
    
}
.secondOne #firstId{
    
    padding: 20 px 20px 20px 20px;
    color:red;
    text-align: center;
    font-size: 15px;
    
    
}
p{
    margin: 15px 15px 15px 15px;
    
}
img{
    padding: 15px 15px 15px 15px;
    
}